.detail_card {
    display: flex;
    width: 759px;
    height: 632px;
    margin-left: 63px;
    margin-top: 85px;
}

.left_poster {
    width: 506px;
    height: 670px;
    display: flex;
    align-items: center;
}